<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include optional="true" resource="logback-json-base.xml"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy年MM月dd日 HH时mm分ss秒 SSS毫秒} [%X{traceId}] %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="lyjew.com.lyclaw.protocol" level="DEBUG"/>

    <logger name="org.springframework" level="WARN"/>
    <logger name="reactor.netty" level="WARN"/>
    <logger name="io.netty" level="WARN"/>

    <springProfile name="!json">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE_JSON"/>
        </root>
    </springProfile>

    <springProfile name="json">
        <root level="INFO">
            <appender-ref ref="CONSOLE_JSON"/>
            <appender-ref ref="FILE_JSON"/>
        </root>
    </springProfile>
</configuration>
