<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include optional="true" resource="logback-json-base.xml"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] [%X{traceId}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="lyjew.com.lyclaw.memory" level="DEBUG"/>

    <logger name="org.springframework" level="WARN"/>
    <logger name="reactor.netty" level="WARN"/>
    <logger name="io.netty" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <springProfile name="json">
        <root level="INFO">
            <appender-ref ref="CONSOLE_JSON"/>
        </root>
    </springProfile>
</configuration>
